/* ==========================================================================
   ESTILOS DEL PROYECTO
   ========================================================================== */

/* ----------------------------------------------------------------
   Estilos para Login y Registro
   ---------------------------------------------------------------- */
html {
    max-height: 100%!important;
}

body.authentication-bg {
	background-color: #282e38;
}

.textAuth .text-muted,
.textAuth .text-muted b{
    color: #ffffff!important;
    font-weight: 700!important;
}

.textAuth .text-muted b{
    text-decoration: underline;
}

.textAuth a.text-muted:hover,
.textAuth .text-muted b:hover{
    color: #cacfff!important;
    text-decoration: underline;
}

/* ----------------------------------------------------------------
   Estilos Inicio Dashboard
   ---------------------------------------------------------------- */
.nameUserLeft {
    margin: 10px 0 0 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
}

.apellUserLeft {
    margin: 0 0 40px 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
}

/* ----------------------------------------------------------------
   Estilos Inicio Dashboard
   ---------------------------------------------------------------- */
i.mapaIcon {
    font-size: 3.3rem;
    color: #10c469;
    margin-left: 10px;
}

p.mapaTextIcon{
    color: #10c469!important;
    font-weight: bolder;
}

i.markerIcon {
    font-size: 3.3rem;
    color: #ffbd4a;
    margin-left: 10px;
}

p.markerTextIcon{
    color: #ffbd4a!important;
    font-weight: bolder;
}

i.personIcon {
    font-size: 3.3rem;
    color: #ff8acc;
    margin-left: 10px;
}

p.personTextIcon{
    color: #ff8acc!important;
    font-weight: bolder;
}

/* MAPA */
.jqvmap-label
{
    position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
    pointer-events:none;
}

.jqvmap-pin {
  pointer-events:none;
}

.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #000000;
	padding: 3px;
	color: #ffffff;
	width: 25px;
	height: 25px;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
}

.jqvmap-zoomin
{
	top: 10px;
    font-size: 15px!important;
}

.jqvmap-zoomout
{
	top: 10px;
    left: 36px;
    font-size: 15px!important;
}

.jqvmap-region
{
  cursor: pointer;
}

.jqvmap-ajax_response
{
  width: 100%;
  height: 500px;
}