/* ==========================================================================
   ESTILOS PARA TABLAS Y FORMULARIOS
   ========================================================================== */

/* ----------------------------------------------------------------
   Estilos -> Opciones parte superior de las tablas
   ---------------------------------------------------------------- */
.dataTables_processing.card,
.swal2-popup,
.dt-button-collection{
    background-color: #282e38!important;
}

.cont-export{
    margin: 25px 0 40px 0;
}

.btn-export{
    margin: 5px 4px 5px 4px!important;
    box-shadow: 0 2px 6px 0 rgba(15, 15, 15, 0.3)!important;
    font-size: 15px!important;
    line-height: 24px;
}

.margenFormat {
    margin-top: 50px!important;
    margin-bottom: 40px!important;
}

/* ----------------------------------------------------------------
   Estilos -> Filtro dinámico
   ---------------------------------------------------------------- */
.dataTables_filter input,
#filtroEstados{
    border-radius: 50rem!important;
    box-shadow: 0 2px 4px 0 rgba(15, 15, 15, 0.3)!important;
}

#filtroEstados {
    margin-top: 35px;
}

.btnFiltro{
    padding: 5px 35px 5px 35px;
    margin: 10px 0px 30px 0!important;
}

/* ----------------------------------------------------------------
   Estilos -> Ventanas Modal
   ---------------------------------------------------------------- */
.swal2-html-container {
    color: #ffffff!important;
}